@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
html, body {
  min-width: 1285px;
  overflow-x: auto;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.srm-table-btn{
  margin-right: 15px;
}

#app /deep/ .category-tree_wrap {
  height: auto;
  max-height: 360px;
  overflow-y: auto;
}

#app /deep/ .el-upload-list--picture-card img{
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.srm-form /deep/ .el-form-item.is-required .el-form-item__label:before{
  content: '*';
  color: #F56C6C;
  margin-right: 4px;
}

.h15{
  width: 1px;
  height: 15px;
  overflow: hidden;
}

.require-visible /deep/ .el-form-item__label::before {
  display: none;
}

.el-card + .el-card {
  margin-top: 15px;
}